.dropdown-window {
  color: white;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: rgb(100, 100, 100);
  opacity: 0.97;
  max-height: 60px;
  transition: max-height 1s ease-out;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dropdown-options {
  font-size: 1rem;
  display: grid;
  height: fit-content;
  padding: 10px 0;
}

.dropdown-window.open {
  max-height: 6000px;
  transition: max-height 1s ease-in;
}

.dropdown-top-view {
  display: flex;
  margin: 0 0.5rem 0.6rem 0.5rem;
  align-items: center;
}

.dropdown-body {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  justify-content: center;
}

.dropdown-option-box {
  width: 100%;
  border: 2pt solid rgb(310, 310, 310);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: fit-content;
  overflow: hidden;
  min-width: 80px;
}

.open-button {
  background-color: inherit;
  border: 2pt solid rgb(50, 50, 50);
}
