.integer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#index-view {
  display: flex;
  font-size: 8pt;
  justify-content: center;
}

.sequence {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sequence-view {
  margin-bottom: 3rem;
}