.sequence-view {
  display: flex;
  flex-direction: column;
  position: relative;
}

#sequence {
  display: flex;
  justify-content: center;
  margin: 0 1vw;
  position: relative;
  
}

.chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.movement-buttons {
  margin-top:1rem;
  display: flex;
  justify-content: center;
}