.toolbar {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}

.dropdown-toggle {
  position: relative;
  background-color: red;
  height: 20px;
  margin: 0;
  padding: 0;
}
