.about-page {
    margin-top: 9rem;
    font-family: serif;
    font-size: 1.3rem;
    line-height: 1.4;
}

.oeis-sequence {
    display: flex;
    font-family: monospace;
    font-size: 1.2rem;
    justify-content: center;
}