#sequence {
  display: flex;
}

.chevron {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.hexagon {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
